<%= render partial: "shared/header" %>

<div class="container">

  <div class="card border-primary mb-3">
    <div class="card-header text-primary">
      Connecte toi :
    </div>
    <div class="card-body">
      <%= render partial: "sessions/form" %>
    </div>
  </div>
</div>
