<%= link_to user_path(user.id), :action => 'go' do %>
<div class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"> <%= user.first_name %> <%= user.last_name %> </h5>
    <small> <%= user.gossips.size %> potins </small>
  </div>
</div>
<% end %>
