<%= render partial: "shared/header" %>

<div class="container">

  <div class="card border-primary mb-3">
    <div class="card-header text-primary">
      Modifie le potin </div>
    <div class="card-body">
      <%= render partial: "gossips/form" %>
    </div>
  </div>
</div>
