<h1>Gossips#new</h1>
<p>Find me in app/views/gossips/new.html.erb</p>
<!-- <!DOCTYPE html>
<html>
<<head>
  <meta charset="utf-8">
  <title> Crée un potin </title>
</head>
<body>
  <h1> Crée un potin   </h1>
  <p> Balance ton potin  via le formulaire ci-dessous</p>
  <form action='/gossips/new' method='POST'>
    Prénom : <input type='text' name='gossip_author'/><br/>
    Titre : : <input type='text' name='gossip_title'/><br/>
    Balance ton potin : : <input type='text' name='gossip_content'/><br/>
    <input type='submit'/>
    </form>

</body>
</html>

# <%= form_tag "/gossips:new/", method:"post" do %>
# Prénom : <input type='text' name='gossip_author'/><br/>
# Titre : : <input type='text' name='gossip_title'/><br/>
# Balance ton potin : : <input type='text' name='gossip_content'/><br/>
# <input type="submit" value="Valider"/><br/>
# </form>
