<div class="container">

<h1>La Team</h1>
<br />
<br />
<p>La Team est composée de Mocadi-dot ainsi que des autres membres de THP, après le pair-programming voici le multi-programming</p>

<p> Je vais me contenter ici de te le dire car c'est le début du projet et le temps passe vite !</p>
</div>
