<h1>Je te présente... l'équipe !!!</h1>

<p>Nous sommes une équipe de développeurs passionnés par tout un tas de trucs qui semblent étranges mais bon... faut bien se démarquer !!!</p>

<p> Je vais me contenter ici de te le dire car c'est le début du projet et le temps passe vite !</p>

